certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
dnspython==1.16.0
Flask==1.1.1
Flask-GoogleMaps==0.2.6
future==0.18.2
geocoder==1.38.1
googlemaps==4.0.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pip==9.0.1
pymongo==3.10.1
ratelim==0.1.6
requests==2.22.0
setuptools==28.8.0
six==1.13.0
urllib3==1.25.8
Werkzeug==0.16.0