{% extends 'template.html' %}

{% block content %}
<div class="container">
    <h2>{{ coupons|length }} Coupons found</h2>

    <div class="row">
    {% for coupon in coupons %}
    <div class="col-md-6">
        <div class="card" style="margin-bottom: 5em">
        <img src="{{ coupon['deal']['image_url']}}" class="card-img-top">
          <h4 class="card-header">{{ coupon['deal']['title'] }}</h4>
          <div class="card-body">
            <h4 class="card-title">{{ coupon['deal']['short_title'] }}</h4>
            <p class="card-text"> {{ coupon['deal']['description']}}</p>

            <h4>{{ coupon['deal']['merchant']['name'] }}</h4>
            {{ coupon['deal']['merchant']['address'] }}
            {{ coupon['deal']['merchant']['phone_number'] }}
          </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>



{% endblock %}
